* {
  box-sizing: border-box;
}

body {
  background-color: #ced3df;
  text-align: center;
}

ul {
  padding: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
