* {
  box-sizing: border-box;
}

body {
  background-color: #ced3df;
  text-align: center;
}

ul {
  padding: 0;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

#app {
  width: 400px;
  margin: 100px auto;
  background-color: #f1f0f7;
  border-radius: 20px;
  box-shadow: 6px 6px 5px 5px #919191;
}

.header {
  position: relative;
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: linear-gradient(
    135deg,
    rgba(115, 150, 255, 1) 20%,
    rgba(176, 127, 235, 1) 80%
  );
  border-radius: 10px 10px 0 0;
  color: white;
  cursor: default;
}

.fa-list-ul {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(35%, 50%);
}
